<ng-container *ngIf="featuredBooks.length > 0">
    <article class="container">
        <h2>Em Destaque</h2>
        <div class="em-destaque">
            <a [routerLink]="['/platform/details', book.id]" class="livro-em-destaque"
                *ngFor="let book of featuredBooks">
                <img class="livro-img" [src]="book.coverImage" alt="{{ book.title }}" />
                <h4 class="livro-titulo">{{ book.title }}</h4>
                <p class="livro-autor">{{ book.author }}</p>
            </a>
        </div>
    </article>
</ng-container>
