<main class="container-login">
    <div class="imagem-lateral">
    </div>
    <div class="informacoes">
        <div class="informacoes-box">
            <a [routerLink]="['/']"><img class="logo" src="../../assets/logo-login.png" alt=""></a>
            <form id="contact" (ngSubmit)="onSubmit()">
                <h3 class="heading-login">Faça login na sua conta</h3>
                <fieldset>
                    <input placeholder="Digite sua Matrícula" type="text" name="registration" [(ngModel)]="registration"
                        tabindex="1" required autofocus>
                </fieldset>
                <fieldset>
                    <input placeholder="***********" type="password" [(ngModel)]="password" name="password" tabindex="2"
                        required>
                </fieldset>
                <fieldset>
                    <button type="submit" id="contact-submit">Login</button>
                </fieldset>
            </form>
            <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
            <a href="">Esqueceu sua Senha?</a>
        </div>
    </div>
</main>
<loading-spinner [visible]="isLoading"></loading-spinner>
