.container {
  max-width: 1800px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: center;
}

.home-container {
  display: flex;
  flex-direction: column;
}

.left-container {
  width: 1150px;
}

.hero {
  background-image: url(../../assets/bg2.webp);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
}

.sub-titulo {
  color: rgb(255, 255, 255);
  font-size: 68px;
  text-shadow: 0 0 15px black;
  padding-left: 70px;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-right: 105px;
  font-family: "Roboto Slab";
}

.search {
  background-color: #1b1b1b;
  color: #c2c2c2;
  height: 148px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coluna {
  background-color: #f2f0ee;
  padding: 48px 59px;
  height: 637px;
  width: 525px;
}

.coluna-titulo {
  margin-bottom: 10px;
  padding-bottom: 12px;
  border-color: rgb(236, 162, 143);
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
}

.coluna-descricao {
  margin-bottom: 10px;
}

.ler-mais {
  color: #e23826;
  display: block;
  margin-bottom: 35px;
}

.login-button {
  background: linear-gradient(to bottom right, #d3311f, #f54a37);
  text-shadow: 0 0 10px rgb(204, 18, 18);
  height: 148px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button:hover {
  background: linear-gradient(to bottom right, #f54a37, #d3311f);
  transition: 0.2s;
}

.login {
  font-size: 45px;
  font-family: "Roboto Slab";
  color: white;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 0 45px;
}

.barra-busca {
  box-shadow: 1px 2px 6px -2px rgba(0, 0, 0, 0.53);
}

input[type="text"] {
  font-size: 14px;
  border: none;
  padding: 14px;
  margin-right: 4px;
  display: inline-block;
  width: 800px;
}

input[type="text"]:focus {
  outline: 0.3px solid #000000;
}

.buscar {
  font-size: 14px;
  padding: 15px 20px;
  border: none;
  background: #d13224;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 15px;
}

.buscar:hover {
  background: #d33c2e;
  transition: 0.2s;
}
