<app-navbar></app-navbar>
<main class="container">
    <div class="home-container">
        <div class="hero">
            <p>Tenha sempre um livro ao alcance de seu tempo</p>
        </div>
        <div class="search">Buscar Artigos ...</div>
    </div>
    <div class="home-container">
        <div class="coluna">
            <div>
                <h2>A Ausência de Leitura - Consequências para a Sociedade</h2>
                <p>A falta de hábito de leitura dos brasileiros está relacionada principalmente a aspectos culturais do
                    nosso país.</p><a class="ler-mais" href="">Ler Mais</a>
            </div>
            <div>
                <h2>Resenha: O Pequeno Príncipe</h2>
                <p>"Tu te tornas eternamente responsável por aquilo que cativas".. Esta frase do livro O Pequeno
                    Príncipe lhe parece familiar?</p><a class="ler-mais" href="">Ler Mais</a>
            </div>
            <div>
                <h2>Influência de Drummond na literatura brasileira</h2>
                <p>Ele é um poeta da segunda fase do modernismo brasileiro. Suas obras são marcadas pela liberdade
                    formal e pela temática do cotidiano.</p><a class="ler-mais" href="">Ler Mais</a>
            </div>
        </div>
        <div class="login-button"><a [routerLink]="['login']">Login</a></div>
    </div>
</main>