<header>
    <div class="container-nav">
        <nav>
            <a [routerLink]="['/']"><img class="logo" src="../../assets/logo.png" alt="Bibliothek Logo"></a>
            <ul class="nav-list" [class.active]="navMenuActive">
                <li class="nav-item">
                    <a [routerLink]="['/']" class="nav-link" (click)="closeNavMenu()">
                        <span class="active">Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['sistema']" class="nav-link" (click)="closeNavMenu()">
                        <span>Login</span>
                    </a>
                </li>
            </ul>
            <div class="hamburger" [class.active]="hamburgerActive" (click)="toggleHamburger()">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </div>
</header>