<app-navbar></app-navbar>
<main class="container">
    <div class="home-container left-container">
        <div class="hero">
            <p class="sub-titulo">Tenha sempre um livro ao alcance de seu tempo.</p>
        </div>
        <div class="search">
            <form class="search-bar">
                <input class="barra-busca" type="text" name="artigos" placeholder="Buscar Artigos ...">
                <button class="buscar" type="button">Buscar</button>
            </form>
        </div>
    </div>
    <div class="home-container">
        <div class="coluna">
            <div>
                <h2 class="coluna-titulo">A Ausência de Leitura - Consequências para a Sociedade</h2>
                <p class="coluna-descricao">A falta de hábito de leitura dos brasileiros está relacionada principalmente
                    a aspectos culturais do
                    nosso país.</p><a class="ler-mais" href="">Ler Mais ></a>
            </div>
            <div>
                <h2 class="coluna-titulo">Resenha: O Pequeno Príncipe</h2>
                <p class="coluna-descricao">"Tu te tornas eternamente responsável por aquilo que cativas".. Esta frase
                    do livro O Pequeno
                    Príncipe lhe parece familiar?</p><a class="ler-mais" href="">Ler Mais ></a>
            </div>
            <div>
                <h2 class="coluna-titulo">Influência de Drummond na literatura brasileira</h2>
                <p class="coluna-descricao">Ele é um poeta da segunda fase do modernismo brasileiro. Suas obras são
                    marcadas pela liberdade
                    formal e pela temática do cotidiano.</p><a class="ler-mais" href="">Ler Mais ></a>
            </div>
        </div>
        <a class="login-button login" [routerLink]="['sistema']">Login ></a>
    </div>
</main>