<ng-container *ngIf="loading; else results">
    <h2 class="nenhum-resultado container">Carregando...</h2>
</ng-container>
<ng-template #results>
    <ng-container *ngIf="!pagedResult?.empty; else noResults">

        <div class="lista-livros container" id="anchor">
            <div class="lista-livro-header">
                <p class="header-titulo">Título</p>
                <p class="header-editora">Editora</p>
                <p class="header-genero">Gênero</p>
                <p class="header-detalhes">Detalhes</p>
            </div>
            <a class="lista-livro-link" [routerLink]="['/platform/details', livro.id]" *ngFor="let livro of books">
                <div class="img-titulo">
                    <img class="lista-livro-img" [src]="livro.coverImage" alt="{{ livro.title }}" />
                    <div>
                        <h4 class="lista-livro-titulo">{{ livro.title }}</h4>
                        <p class="lista-livro-autor">{{ livro.author }}</p>
                    </div>
                </div>
                <p class="lista-livro-editora">{{ livro.publisher }}</p>
                <p class="lista-livro-genero">{{ livro.genre }}</p>
                <a class="mais-detalhes" [routerLink]="['/platform/details', livro.id]">Mais Detalhes</a>
            </a>
            <div class="pagination">
                <button class="button-page" (click)="prevPage()" [disabled]="currentPage === 0">Anterior</button>
                <span>{{ currentPage + 1 }} de {{ totalPages }}</span>
                <button class="button-page" (click)="nextPage()" [disabled]="currentPage === totalPages - 1">Próxima</button>
            </div>
        </div>
    </ng-container>
</ng-template>
<ng-template #noResults>
    <h2 class="nenhum-resultado container">Nenhum livro foi encontrado</h2>
</ng-template>
